Linux/Code/All_WSI
Linux/Code/Annotations
Linux/Code/CSV_files
Linux/Code/Patches
Linux/Code/__pycache__
Linux/Code/Tensorboard
Linux/Code/Train_folder
Linux/Code/Visualization
Windows/Code/All_WSI
Windows/Code/Annotations
Windows/Code/CSV_files
Windows/Code/Patches
Windows/Code/__pycache__
Windows/Code/Tensorboard
Windows/Code/Train_folder
Windows/Code/Visualization